h1 { 
    margin: 10px 70px;
}
.game {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap:10px;
    justify-content: space-between;
    margin: 0 70px;
    width: 200px;
    height: 200px;
    /* border: 1px solid black; */
  }

img {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}


@media (max-width: 480px) {
    h1 {
        margin: 2px 40px;
    }
    .game {
        grid-template-columns: auto auto auto;
        margin: 0 40px;
    }
    img {
        width: 100px;
        height: 100px;
    }
  }