a { 
    display: inline-block;
    font-size: 2rem;  
    margin: 8px 70px;
    font-family: pauline,sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.card-face {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap:10px;
    justify-content: space-between;
    margin: 0px 70px;
    width: 200px;
    height: 200px;
  }

img {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

/* #footnote {
    display: block;
    text-align: right;
    margin-top: -46px;
} */

@media (max-width: 480px) {
    a {
        font-size: 1rem;
        margin: 10px 45px;
    }
    .card-face {
        grid-template-columns: auto auto auto;
        margin: 0 45px;
    }
    img {
        width: 100px;
        height: 100px;
    }
  }