body {
    height: 4760px;
    background-color: rgb(213, 230, 230);
}
a { 
    display: inline-block;
    font-size: 2rem;  
    margin: 35px 150px 0;
    font-family: neue-haas-grotesk-display,sans-serif;
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    color: black;
  }
.game {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap:20px;
    margin: 70px 150px;
  }
img {
    width: 200px;
    height: 200px;
    box-shadow: 5px 5px 5px rgb(179, 179, 179);
    transition: 0.4s ease-out;
}
.img.open {
    transform: scale(2); 
    transition: 0.8s;
}
.scale-up {
    transform: scale(2);
}
@media (max-width: 480px) {
a {
    font-size: 1rem;
    margin: 10px 45px;
}
.game {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    margin: 0 35px;
}
img {
    width: 100px;
    height: 100px;
}
}